.table {
  width: 600px;
  border-collapse: collapse;
  margin: 40px auto;
}

.th,
.td {
  padding: 12px;
  text-align: left;
  border: 2px solid black;
}

.th {
  color: white;
  background-color: #100f0f;
}

.tbody tr:nth-child(even) {
  background-color: gray;
}

.tbody tr:hover {
  color: white;
  background-color: #5c5555;
}
